// main header

header.header
  div.container

    div.header__top-line
      //- logo
      div.header__logo
        a(href="#`"): img.logo(src="img/logo.png", alt="logo")

      //- navigation
      a.js-btn-menu(href="#`") Menu
      include blocks/navigation.jade

    div.header__heading
      h1.header__heading-title Velox One Page Template
      h2.header__heading-desc Clean, Responsive, customizable one page template
      button.btn Get Started Now