// main header

header.main-header
  div.container

    div.top-header
      //- logo
      a.top-header__link(href="#~")
        img.top-header__logo.logo(src="img/logo.png", alt="logo")

      //- navigation
      include blocks/navigation.jade

    div.main-header__heading
      h1.main-header__title Velox One Page Template
      h2.main-header__desc Clean, Responsive, customizable one page template
      button.btn Get Started Now