
// Services

section.services
  div.container
    h1.section-title.services__section-title Our Services

    div.services__list

      div.services__item.services-card.services-card_logo
        h3.services-card__title Logo DESIGN
        p.services-card__desc Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.

      div.services__item.services-card.services-card_design
        h3.services-card__title Web Design
        p.services-card__desc Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.

      div.services__item.services-card.services-card_brand
        h3.services-card__title Branding
        p.services-card__desc Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.

      div.services__item.services-card.services-card_illustrat
        h3.services-card__title illustrations
        p.services-card__desc Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.