// Portfolio

section.portfolio
  div.container
    h1.section-title.portfolio__section-title PORTFOLIO

    nav.portfolio__filter.filter
      ul.filter__list
        li.filter__item.filter__item_active All
        li.filter__item Illustrations
        li.filter__item Logo
        li.filter__item Branding
        li.filter__item Web design

    div.portfolio__inner-wrapper

      div.portfolio-card
        div.portfolio-card__img
          img(src="img/prf_1.jpg", alt="portfolio-image.jpg")
        div.portfolio-card__name Agency - PSD Template

      div.portfolio-card
        div.portfolio-card__img
          img(src="img/prf_2.jpg", alt="portfolio-image.jpg")
        div.portfolio-card__name Pure Vodka Branding

      div.portfolio-card
        div.portfolio-card__img
          img(src="img/prf_3.jpg", alt="portfolio-image.jpg")
        div.portfolio-card__name Web Design

      div.portfolio-card
        div.portfolio-card__img
          img(src="img/prf_4.jpg", alt="portfolio-image.jpg")
        div.portfolio-card__name Everest Logo

      div.portfolio-card
        div.portfolio-card__img
          img(src="img/prf_5.jpg", alt="portfolio-image.jpg")
        div.portfolio-card__name Poster Design

      div.portfolio-card
        div.portfolio-card__img
          img(src="img/prf_6.jpg", alt="portfolio-image.jpg")
        div.portfolio-card__name illustration

    button.btn.btn_uppercase Showe more