section.reviews
  div.container
    h1.section-title.reviews__section-title See what others are saying about us

    // Swiper
    div.swiper-container
      div.swiper-wrapper
        div.swiper-slide.review-slide
          img(src="img/person.png", alt="person.png")
          blockquote.review-slide__quote “Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ”

          span.review-slide__info-person Linda from 
              a(href="") example.com

        div.swiper-slide.review-slide
          img(src="img/person.png", alt="person.png")
          blockquote.review-slide__quote “Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ”

          span.review-slide__info-person Linda from 
              a(href="") example.com

        div.swiper-slide.review-slide
          img(src="img/person.png", alt="person.png")
          blockquote.review-slide__quote “Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ”

          span.review-slide__info-person Linda from 
              a(href="") example.com

       //- <!-- If we need pagination -->
      div.swiper-pagination

      //- Add Arrows 
      div.swiper-button-next
      div.swiper-button-prev

      //-   //- <!-- If we need scrollbar -->
      //- div.swiper-scrollbar