// Footer

footer.footer
  div.container
    div.footer__wrap
      
      ul.social-btn.footer__social-btn
        li.social-btn__item
          a.social-btn__link.social-btn__link_fb(href="#`") Facebook
        li.social-btn__item
          a.social-btn__link.social-btn__link_tw(href="#`") Twitter
        li.social-btn__item
          a.social-btn__link.social-btn__link_ph(href="#`") Ph
        li.social-btn__item
          a.social-btn__link.social-btn__link_lk(href="#`") Link

      div.footer__copyright
        span.copyright &#169; 2016 Nishant Bazzad
