/*** Navigation */

.nav__list {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.nav__item {
  float: left;
  margin-right: 3.5em;
  font-size: 14px;
  font-weight: 600;

  &_size_lg {
    margin-right: 0.5em;
    font-size: 21px;
    font-weight: 400;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.nav__link {
  padding: 0.5em;
}