.btn {
  padding: 0.5em 2em;
  font-size: 25px;
  font-weight: 600;
  color: $white;
  border: none;
  border-radius: 36px;
  box-shadow: 0 2px 4.8px 0.3px rgba(0, 0, 0, 0.25);
  background-color: $blue_light;
  cursor: pointer;
}

.btn--uppercase {
  text-transform: uppercase;
}