<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Document
    link(href="https://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:300,400,700" rel="stylesheet")
    link(rel="stylesheet", href="css/main.css")
  body

    include inc/01_header
    include inc/02_services
    include inc/03_portfolio
    include inc/04_brands
    include inc/05_reviews
    include inc/06_contacts
    include inc/07_footer