/*** Contacts ***/

.contacts {
  padding: 70px 0 40px;
  color: $white;
  background-color: $black_dark;
}

.contacts__top-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

.nav-contacts {
  @media screen and (max-width: 890px) {
    display: none;
  }
}

.contacts__bottom-line {
   &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.contacts__title {
  font-family: $Lora;
  font-size: 33px;
  font-weight: 700;
}

/*** Info block */
.contacts__info-block {
  float: left;
  width: calc(100% / 3);
  padding-right: 50px;

  @media screen and (max-width: 768px) {
    float: none;
    width: 100%;
    padding-right: 0;
    text-align: center;
  }
}

/*** Form */
.contacts__form {
  float: left;
  width: calc(100% - (100% / 3));

  @media screen and (max-width: 768px) {
    float: none;
    width: 100%;
    padding: 0 10%;
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    padding: 0;
  }
}

.contacts-form__wrap {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 480px) {
      flex-wrap: wrap;
  }

  & > .contacts-form__label {
    width: calc(100% / 2 - 10px);

    @media screen and (max-width: 480px) {
      width: 100%;
    }
  }
}


.contacts-form__input {
  width: 100%;
}

.contacts-form__textarea {
  width: 100%;
  min-height: 110px;
}