.footer {
  padding: 25px 0;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 480px) {
    display: block;
    text-align: center;
  }
}

.copyright {
  font-family: $Lora;
  font-size: 13px;
  font-weight: 400;
  color: $gray;
}

.footer__social-btn {
  order: 1;

  @media screen and (max-width: 480px) {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }
}