/** Header **/

.header {
  padding-top: 25px;
  height: 100vh;
  background: url(../img/bg_header.jpg) no-repeat center;
  background-size: cover;
}

.header__top-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* logo */
.logo {
  display: block;
}

/* heading for header */
.header__heading {
  padding-top: 15%;
  color: $white;
  text-align: center;
}

.header__heading-title {
  margin-bottom: 0.5em;
  font-family: $Lora;
  font-size: 58px;
  line-height: 1.2;
  font-weight: 700;
}

.header__heading-desc {
  margin-bottom: 80px;
  font-size: 25px;
  font-weight: 400;
}