nav.main-navigation
  ul.main-navigation__list
    li.main-navigation__item: a.main-navigation__link(href="") Services
    li.main-navigation__item: a.main-navigation__link(href="") Portofolio
    li.main-navigation__item: a.main-navigation__link(href="") Testimonials
    li.main-navigation__item: a.main-navigation__link(href="") About
    li.main-navigation__item: a.main-navigation__link(href="") Contact